body {
    color: #191970;
    font-family: sans-serif;
}

/**************/
/*   HEADER   */
/**************/

.navbar {
    background-color: #00B0E0;
    height: 200px;
    padding-top: 60px;
}

.navbar-default .navbar-brand {
    color: #191970;
    font-size: 1.5em;
}

.navbar-brand span {
    background-color: #191970;
    border-radius: 2px;
    color: #00B0E0;
    font-family: Calibri Light, sans-serif;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.navbar-default .navbar-nav > li > a, .dropdown-menu > li > a {
    color: #191970;
    font-size: 1.15em;
    list-style: none;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
    color: #7FFFD4;
}

.navbar-default .navbar-brand:hover span {
    background-color: #7FFFD4;
    color: #00B0E0;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.dropdown-menu > li > a:hover {
    background-color: #00B0E0;
    color: #7FFFD4;
}

.dropdown-menu {
    background-color: #00B0E0;
}

ul.nav li:hover > ul.dropdown-menu {
    display: block;
}

/************/
/*   MAIN   */
/************/

.panel-primary > .panel-heading {
    background-color: #00B0E0;
    border-color: #00B0E0;
    color: #191970;
}

p {
    text-indent: 1.5em;
}

object {
    height: 800px;
}

/************/
/*   FORM   */
/************/

.jumbotron {
    background-color: #FFFFFF;
    color: #191970;
}

.jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px;
}

.jumbotron small {
    color: #191970;
}

.h2 small {
    font-size: 24px;
}

/**************/
/*   FOOTER   */
/**************/

.footer {
    background-color: #FFFFFF;
    border-radius: 2px;
    color: #191970;
    font-family: Calibri Light, sans-serif;
    font-size: 1.5em;
    height: 30px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

footer {
    background-color: #191970;
    height: 200px;
}

footer a span {
    bottom: 5px;
    position: relative;
    right: 5px;
}

.btn-lg {
    background-color: #7FFFD4;
    border-radius: 25px;
    color: #191970;
    height: 50px;
    margin-top: 50px;
    width: 50px;
}

.btn-lg:hover {
    background-color: #00B0E0;
    color: #191970;
}

/**************/
/* SMARTPHONE */
/**************/

@media (max-width: 767px) {
    /************/
    /*  HEADER  */
    /************/
    .navbar-default .navbar-brand {
        text-align: center;
    }

    .navbar-nav .open .dropdown-menu {
        background-color: #00B0E0;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #191970;
        font-size: 1.15em;
        list-style: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #00B0E0;
        color: #7FFFD4;
    }
}

/**************/
/*   TABLET   */
/**************/

@media (min-width: 768px) {
    /************/
    /*  HEADER  */
    /************/
    .navbar-default {
        vertical-align: middle;
    }
}